body {
    background-color: #ececec; /* Set your default background color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

.container {
    width: 800px;
    height: 502px;
    margin: 14px auto 0 auto;
    padding: 20px;
    border-radius: 17px;
}


.scrollable-div {
    max-height: 200px; /* Adjust the max-height as needed */
    overflow-y: auto;
    border: 3px solid #222140;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}



.word_label{
    display: inline-block;
    float: right;
    font-size: 26px;
    margin: 5px 0 0 3px;
    direction: rtl;
    font-family: NotoKufiArabic-Regular;
}
.meaning_label{
    display: inline-block;
    float: right;
    font-size: 26px;
    margin: 5px 20px 0px 3px;
    direction: rtl;
    font-family: 'NotoKufiArabic-Regular';
}


.word_input{
    padding: 7px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 3px solid #222140;
    border-radius: 14px;
    direction: rtl;
    font-size: 26px;
    color: #e41320;
    width: 21%;
    height: 42px;
    float: right;
}
.word_input:hover{
    border-color: #e41320;
}
.meaning_input{
    padding: 7px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 3px solid #222140;
    border-radius: 14px;
    direction: rtl;
    font-size: 26px;
    color: #e41320;
    width: 56%;
    height: 42px;
    float: right;

}

.meaning_input:hover{
    border-color: #e41320;
}

.type_label{
    display: inline-block;
    float: right;
    font-size: 31px;
    margin-top: 17px;
    direction: rtl;
    font-family: monospace;
}
#sliderValue {
    margin-top: 3%;
    direction: rtl;
    display: inline-block;
    font-size: 26px;

}
#slider_input{
    margin-top: 20px;
    direction: rtl;
    display: inline-block;
    font-size: 26px;
}
#num_of_examples{
    float: left;
    margin: 3.8% 2% 3.2% 0;
    width: 81%;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    max-height: 73.5%;
    direction: rtl;
    height: 352px;
    margin-top: 10px;
}

li {
    padding: 10px;
    border-bottom: 2px solid #ffb000;
    font-size: 20px;
    font-family: 'NotoKufiArabic-Regular';
    font-weight: bolder;
}
.search-button {
    padding: 1px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background-color: #222140;
    color: #ffbd2c;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
    font-weight: bold;
    width: 16%;
    height: 4%;
    margin: -47px 92px 0 0;
    display: grid;
    float: right;
    font-family: 'NotoKufiArabic-Regular';
}

header img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}


.lemma-checkbox-container {
    display: inline-flex;
    align-items: center;
    float: right;
    margin: 69px -485px 0 0;
}

.lemma-checkbox-label {
    margin-right: 5px;
    font-size: 16px;
    user-select:none;
    font-weight: 900;
}

.lemma-custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background 0.3s;
}

.lemma-custom-checkbox:hover {
    border-color: #e41320;
}

.lemma-custom-checkbox:checked {
}

.lemma-custom-checkbox:checked::before {
    content: '\2713';
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
}

.lemma-custom-checkbox:checked:hover {
    border-color: #e41320;
}
ul::-webkit-scrollbar {
    width: 12px;              /* width of the entire scrollbar */
}
ul::-webkit-scrollbar-track {
    background: #ffb000;       /* color of the tracking area */
    border: 1px solid transparent;
    border-radius:8px ;
}
ul::-webkit-scrollbar-thumb {
    border-radius: 8px;      /* roundness of the scroll thumb */
    border: 3px solid orange; /* creates padding around scroll thumb */
}
.word_to_highlight{
    /*text-decoration: underline;*/
}
.examples_word{
    font-size: 31px;
    margin-right: 1%;
    font-family: NotoKufiArabic-Regular;
}
#mode-icon {
    user-select: none;
}
#toggle-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.dropdown-select {
    content: '\25BC';
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 54%;
    height: 42px;
    padding: 0px 7px;
    cursor: pointer;
    outline: none;
    border: 3px solid #222140;
    border-radius: 14px;
    margin-top: 10px;
    direction: rtl;
    color: #e41320;
    font-size: 18px;
    float: right;
    padding-left: 36px;
}

.dropdown-select:hover {
    border-color: #e41320;;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1;
}

.dropdown-option {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #4CAF50;
    color: #fff;
}


.type_button {
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 37px;
    height: 50px;
    display: inline-block;
    margin: 0 7px 0 0;
}

.type_button_container{
    margin: 12px 0 0 26px;
    display: inline-block;
    height: 56px;
}



.resource_type_icon {
    width: 37px;
    margin: 6px 0 0 0;
}

.type_button .resource_type_icon:hover {
    width: 52px;
    margin: -1px 0 0 -7px;
}

.resource_type_lable{
    margin: 10px 380px 0 0;
    display: inline-block;
    float: right;
    font-size: 26px;
    direction: rtl;
    font-family: 'NotoKufiArabic-Regular';
}
input:disabled {
    border-color: gray;
    color:gray
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    animation: spin 1s linear infinite;
    margin: 9px;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
