<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مستشهِد</title>
    <link rel="stylesheet" id="main_stylesheet" href="static/styles/setup_1/main_style.css">

    <link rel="stylesheet" id="stylesheet" href="{% if mode == 'light' %}static/styles/setup_1/light_style.css{% else %}static/styles/setup_1/dark_style.css{% endif %}">
    <style>
        @font-face {
            font-family: 'NotoKufiArabic-Regular';
            src: url('static/styles/Noto_Kufi_Arabic/static/NotoKufiArabic-Regular.ttf') format('truetype');
        }
        /* You can also include other font formats for better compatibility */
        body {
            margin: 0;
            padding: 0;
            background-image: url({% if mode=="dark" %} "static/images/dark/background.png" {% else %} "static/images/light/background.png" {% endif %});
            background-size: cover; /* This property ensures that the background image covers the entire body */
            background-position: center; /* Centers the background image */
            background-repeat: repeat;
        }
        .search-button {
            padding: 4px;
            font-size: 21px;
            text-align: center;
            text-decoration: none;
            background-color: #222140;
            color: #ffbd2c;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;
            font-weight: bold;
            width: 12%;
            height: 4%;
            margin: 0% 45%;
            display: grid;
            margin-top: 30px;
        }

    </style>
</head>

<body>
<header>
    <a href="/"><img {% if mode=="dark" %} src="static/images/dark/logo.png" {% else %} src="static/images/light/logo.png" {% endif %} alt="logo"></a>
</header>

<div class="container">
    <form action="/change_the_setup" method="post">
        <button class="destination active_destination" type="submit" name="destination" value="3" style="
                        padding: 0px;
                        font-size: 14px;
                        display: inline-block;
                        width: 203px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        direction: rtl;
                        margin-left: 24px;
                        font-family: 'NotoKufiArabic-Regular';
                        border-radius: 8px;
                        ">شارك في تطوير معجم الرياض!</button>
        <button class="destination" type="submit" name="destination" value="2" style="
                        padding: 0px;
                        font-size: 14px;
                        display: inline-block;
                        margin-left: 235px;
                        width: 188px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        font-family: 'NotoKufiArabic-Regular';
                        border-radius: 8px;
                        ">استخدم معاني معجم الرياض</button>
        <button class="destination" type="submit" name="destination" value="1" style="
                        padding: 0px;
                        font-size: 14px;
                        display: inline-block;
                        width: 140px;
                        margin-bottom: 5px;
                        cursor: pointer;
                        font-family: 'NotoKufiArabic-Regular';
                        border-radius: 8px;
                        ">أدخل المعاني بنفسك</button>

    </form>

    <p class="thanking_p" style="direction: rtl;text-align: center;font-size: 22px;font-family: NotoKufiArabic-Regular;">
        شكرا جزيلا لرغبتك في المساهمة في تطوير معجم الرياض
        <br>
        هنا يمكنك إضافة مثال جديد أو الإبلاغ عن مثال لا تراه مناسبا
        <br>
        مشاركتك سيتم مراجعتها وستساهم في تطوير معجم الرياض!
    </p>
    <form id="examples_search_form" action="/get_examples_setup_1" method="POST">
        <label title="اكتب الكلمة مثل: 'يأكل'" for="word_input" class="word_label">الكلمة</label>
        <input placeholder="مثال: يأكل" title="اكتب الكلمة مثل: 'يأكل'" type="text" id="word_input" class="word_input" name="word" value="{{word}}">

        <label title="اكتب معنى الكلمة مثل: 'يتناول الطعام'" for="meaning_input" class="meaning_label">المعنى</label>
        <input placeholder="مثال: يتناول الطعام" title="اكتب معنى الكلمة مثل: 'يتناول الطعام'" type="text" id="meaning_input" class="meaning_input" name="meaning" value="{{meaning}}">

        <img src="static/images/drop_down.png" style="width: 20px;position: absolute;margin: 81px  0 0px 577px;">        <label  title="اختر نوع الكلمة, مثال : يأكل (فعل)" class="type_label" for="type-select">النوع</label>
        <select title="اختر نوع الكلمة, مثال : يأكل (فعل)" class="dropdown-select" name="type-select" id="type-select">
            <option {% if word_type == 'Noun' %}selected{% endif %} value="Noun">اسم</option>
            <option {% if word_type == 'Verb' %}selected{% endif %} value="Verb">فعل</option>
            <option {% if word_type == 'Preposition' %}selected{% endif %} value="Preposition">حرف</option>
        </select>

        <label title="اختر مصدر المثال" class="resource_type_lable">مصدر المثال</label>
        <div class="type_button_container">
            <div id="news" title="الأخبار" class="type_button" onclick="toggleTypeButton(event, 'news')"><img title="الأخبار" class="resource_type_icon" src="static/images/News_icon.png" alt="News"></div>
            <div id="poetry" title="الشّعر العربي" class="type_button" onclick="toggleTypeButton(event, 'poetry')"><img title="الشّعر العربي" class="resource_type_icon" src="static/images/Poetry_icon.png" alt="Poetry"></div>
            <div id="hadith" title="كتب السُّنة النبوية" class="type_button" onclick="toggleTypeButton(event, 'hadith')"><img title="كتب السُّنة النبوية" class="resource_type_icon" src="static/images/Sunnah_icon.png" alt="hadith"></div>
            <div id="quraan" title="القرآن الكريم" class="type_button" onclick="toggleTypeButton(event, 'quraan')"><img title="القرآن الكريم" class="resource_type_icon" src="static/images/Quran_icon.png" alt="Quran"></div>
            <div id="all" title="جميع المصادر" class="type_button active" onclick="toggleTypeButton(event, 'all')"><img title="جميع المصادر" class="resource_type_icon" src="static/images/All_icon.png" alt="All"></div>

            <input type="hidden" id="type_hiddenInput" name="resource_type" value="all">
        </div>

        <label title="اكتب المثال" class="type_label" for="example" style="margin-right: -10px;">المثال</label>
        <input title="اكتب المثال" type="text" id="example" class="meaning_input" name="example" value="" style="margin-bottom: 30px;margin-top: 15px;width: 89%;">


        <input type="submit" title="إضافة مثال جديد" onclick="submitForm('/contribute_in_alriyadh_dictionary_add',event)" value="إضافة" class="search-button" style="padding: 0;margin-bottom: 19px;font-size: 19px;border-radius: 8px;background-color: aliceblue;">
        <input type="submit" title="الإبلاغ عن المثال" onclick="submitForm('/contribute_in_alriyadh_dictionary_report',event)" value="الإبلاغ" class="search-button" style="color: red;padding: 0;font-size: 19px;margin-top: -7px;border-radius: 8px;background-color: aliceblue;">
        <div id="overlay" style="    font-size: 27px;    font-family: 'NotoKufiArabic-Regular';    display: none;">
            <span style="direction: rtl;">تم.. شكرا جزيلا!</span>
        </div>
    </form>

    <form id="set_mode_form" action="/set_mode" method="POST">
        <input type="hidden" id="mode_hiddenInput" name="mode" value="{{mode}}">

        <div id="toggle-circle" onclick="toggleMode()" style="background-color: {{ 'rgb(50, 50, 50)' if mode == 'light' else '#3498db' }}" >
            <span id="mode-icon">{{ "☀️" if mode == 'dark' else '🌙' }}</span>
        </div>
    </form>
</div>



<script>
    function submitForm(action,event) {
        event.preventDefault();
        var form = document.getElementById('examples_search_form');
        form.action = action;
        var wordInput = document.getElementById('word_input').value.trim();
        var meaningInput = document.getElementById('meaning_input').value.trim();
        var exampleInput = document.getElementById('example').value.trim();

        if (wordInput === "" || meaningInput === "" || exampleInput === "") {
            // Change the border color to red
            document.getElementById('word_input').style.borderColor = 'red';
            document.getElementById('meaning_input').style.borderColor = 'red';
            document.getElementById('example').style.borderColor = 'red';

            // Change the border color back to default after 2 seconds
            setTimeout(function () {
                document.getElementById('word_input').style.borderColor = '#222140';
                document.getElementById('meaning_input').style.borderColor = '#222140';
                document.getElementById('example').style.borderColor = '#222140';

                alert("فضلاً, قم بإدخال الكلمة والمعنى والمثال في الخانات المخصصة لذلك.");
            }, 150);
            return
        }
        var overlay = document.getElementById("overlay");

        // Display overlay with flex for 0.5 seconds
        overlay.style.display = "flex";
        setTimeout(function() {
            overlay.style.display = "none";
        }, 1000);
        form.submit();
    }
    document.addEventListener("DOMContentLoaded", function () {
        // Get the value of the hidden input
        var hiddenInputValue = document.getElementById("type_hiddenInput").value;

        // Add 'active' class to the button with the corresponding ID
        var correspondingButton = document.getElementById(hiddenInputValue);
        if (correspondingButton) {
            correspondingButton.classList.add("active");
        }
    });
    function toggleTypeButton(event, buttonId) {
        event.preventDefault();
        // Get all buttons
        var buttons = document.querySelectorAll('.type_button');

        // Loop through each button
        buttons.forEach(function(button) {
            // Remove 'active' class from all buttons
            button.classList.remove('active');
        });

        // Add 'active' class to the clicked button
        document.getElementById(buttonId).classList.add('active');
        document.getElementById("type_hiddenInput").value = buttonId
    }
    function toggleMode() {
        // Get the <link> element
        var styleSheet = document.getElementById("stylesheet");

        const body = document.body;
        const hiddenInput = document.getElementById("mode_hiddenInput");
        modeToggle= document.getElementById("toggle-circle");
        if (hiddenInput.value === 'light') {
            // Switch to dark mode
            body.classList.add("dark-mode");
            modeToggle.textContent = "☀️"; // Sun icon
            modeToggle.style.backgroundColor = "#3498db"; // Light mode button color
            hiddenInput.value = 'dark';
            // Change the href attribute to the new stylesheet
            styleSheet.href = "static/styles/setup_1/dark_style.css";
        } else {
            // Switch to light mode
            body.classList.remove("dark-mode");
            modeToggle.textContent = "🌙"; // Moon icon
            modeToggle.style.backgroundColor = "rgb(50,50,50)"; // Dark mode button color
            hiddenInput.value = 'light';
            // Change the href attribute to the new stylesheet
            styleSheet.href = "static/styles/setup_1/light_style.css";
        }
        document.getElementById('set_mode_form').submit();
    }
    function updateSliderValue() {
        var slider = document.getElementById("num_of_examples");
        var output = document.getElementById("sliderValue");
        output.innerHTML = "عدد الأمثلة: " + slider.value;
    }

</script>

</body>
</html>
